@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer id</th>
            <th>Customer Name</th>
            <th>Discount Rate</th>
            <th>Membership Type</th>
            @if (Model.Birthdate != null)
            {
                <th>Birthdate</th>
            }

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.MembershipType.DiscountRate%</td>
            <td>@Model.MembershipType.Name</td>
            @if (Model.Birthdate != null)
            {
                <td>@String.Format("{0:dd/MM/yyyy}", Model.Birthdate)   </td>
            }
        </tr>
    </tbody>
</table>
